* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    font-weight: 500;
}

.topBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #FFF;
    padding: 30px;
    z-index: 6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.topBar nav a {
    color: grey;
    text-decoration: none;
    font-weight: 500;
    padding: 0 53px;
}

.topBar nav a:hover,
.topBar nav a.active {
    color: #000;
}


.social a {
    padding: 0 12px;
    opacity: 0.5;
    color: grey;
    font-size: 1.5rem;
}

.social a:hover {
    opacity: 1;
    color: #f99332;
}

.banniere {
    background: url(./img/header.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 527px;
}

.body {
    display: flex;
}

.main {
    float: left;
    width: calc(100% - 375px);
    box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: relative;
    background-color: white;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.article {
    position: relative;
    margin: 50px 0;
    padding-left: 333px;
    min-height: 203px;
    background-color: #FFF;
}

.container hr {
    background-color: #f99332;
    border: none;
    height: 2px;
    margin: 50px 0;
}

.article_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 308px;
    margin-right: 27px;
}

.article a {
    color: inherit;
    text-decoration: none;
}

.article p {
    max-height: 100px;
    overflow: hidden;
    text-overflow: clip;
}

.article a:hover {
    text-decoration: underline;
}

.article_date {
    font-weight: 300px;
    color: rgba(0, 0, 0, 0.60);
    margin-bottom: 5px;
}

.article_title {
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: "Cardo", serif;
    margin: 0 0 15px 0;
}

.article_img img {
    width: 100%;
    height: auto;
}

.article_img img:hover {
    opacity: 0.8;
}

.sideBar {
    width: 375px;
    padding: 40px;
    z-index: 1;
    position: relative;
}

.sideBar a {
    color: grey;
    text-decoration: none;
}

.sideBar a:hover {
    color: grey;
    text-decoration: underline;
}

.sideBar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 17px;
}

.sideBar li {
    padding: 6px 0;
}

.sideBar hr {
    background-color: #f99332;
    border: none;
    height: 2px;
    margin: 50px 0;
}

.sideBar li:first-child {
    padding-top: 0;
}

.sideBar li:last-child {
    padding-bottom: 0;
}

.title-sideBar {
    font-size: 30px;
    color: #000;
    margin: 15px 0;
}

.title-sideBar:first-child {
    margin-top: 0;
}

.footer {
    clear: both;
    padding: 30px;
    font-weight: bold;
    text-align: center;
}